* {
    padding: 0;
    margin: 0;
}

body { 
    background-image: url("background.jpg");
    background-color: #0A1823;
    background-size: fill;
    color: aliceblue;
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-size: 1.1rem;    
}

h1 {
    margin-top: 25px;
    margin-bottom: 20px;        
    -webkit-text-stroke: rgb(102, 217, 31) 0.1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.introduction {
    width: 50vw;   
    margin: 30px auto; 
    font-size: 1.29rem;
}

.introduction-2 {
    margin-top: 10px;
    font-size: 1.42rem;    
}

.portal-inicio {
    margin: 20px;
    width: 31vw;    
}

.portal-inicio:hover {     
    opacity: 0.5;    
}

footer {
    color: aliceblue;
    font-size: 1.3rem; 
    margin-bottom: 10px;   
    width: 100%;
}

.name {
    color: #B2DF28;
    font-size: 1.35rem; 
    cursor: pointer;
}

.name:hover {
    opacity: 0.5;
}

@media screen and (max-width: 480px)  { 
    h1 {
        margin-bottom: 0px;
        font-size: 1.79rem;
    }

    .introduction {
        font-size: 1.08rem;
    }

    .introduction-2 {
        font-size: 1.2rem;
    }

    .portal-inicio {
        width: 36vw;
    }

    footer {
        font-size: 1.05rem; 
    }

    .name {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { 

    h1 {
        margin-bottom: 0px;
        font-size: 1.82rem;
    }

    .introduction {
        font-size: 1.09rem;
    }

    .introduction-2 {
        font-size: 1.25rem;
    }

    .portal-inicio {
        width: 43vw;
    }

    
    footer {
        font-size: 1.05rem; 
    }

    .name {
        font-size: 1.2rem;
    }
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .introduction {
        width: 60vw;
        font-size: 1.4rem;
    }

    .introduction-2 {
        font-size: 1.55rem;
    }

    .portal-inicio {
        width: 60vw;
    }

    footer {
        margin-top: 35px; 
        font-size: 1.4rem; 
    }

    .name {
        font-size: 1.5rem;
    }

}