* {
    padding: 0;
    margin: 0;
}

body { 
    background-image: url("background.jpg");
    background-color: #0A1823;
    background-size: fill;
    color: aliceblue;
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-size: 1.1rem;    
}

h1 {
    margin-top: 25px;
    margin-bottom: 20px;        
    -webkit-text-stroke: rgb(102, 217, 31) 0.1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.introduction {
    width: 50vw;   
    margin: 30px auto; 
}

.introduction-2 {
    margin-top: 10px;
    font-size: 1.2rem;    
}

.portal-inicio {
    margin: 20px;
    width: 35vw;        
}

.portal-inicio:hover {     
    opacity: 0.5;    
}

footer {
    color: aliceblue;
    font-size: 1rem;
    margin-bottom: 10px;   
    width: 100%;
}

.name {
    color: #B2DF28;
    font-size: 1.2rem;
    cursor: pointer;
}

.name:hover {
    opacity: 0.5;
}